

<!-- We need to use the ajax call to render the data in realtime once there is a chance in the database for the order -->

<!-- <% for(let order of pendingOrders) { %>

  <div class="card">
    <h5 class="card-header">Order Number: <%= order.id %></h5>
    <h5 class="card-header">Customer Name: <%= order.username %></h5>
    <h5 class="card-header">Customer Phone: <%= order.userphone %></h5>
    <h5 class="card-header">Order placed at: <%= moment(order.order_time).format('LLLL') %></h5>
    <div class="card-body">
      <ul>
        <% for((items) of Object.values(order.items)) { %> 
      <li><p class="card-title">Food Item: <%= items.item.name %></p></li>
      <% } %> 
    </ul>
    </div>
  </div>
  
  <% } %>  -->


  <div id="adminOrdersDiv">

  </div>