
<div id="adminOrders">



  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admin/orders/new">New Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/inProgress">In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/complete">Completed</a>
    </li>
  </ul>
  

  <% for (let order of orderItems) { %>
    <div class="card" style="width: 18rem;">
      <h3>Order Number: <%= order.id %></h3>
      <p><%= moment(order.order_time).format('LLL') %></p>
      <div class="card-body">
        <div>
          <h5>Order Detail:</h5>
          <% for((items) of Object.values(order.items)) { %> 
            <li class="card-title"><%= items.item.name %> Qty: <%= items.qty%></li>
            <% } %> 
        </div>
        <div>
          <h5>Customer</h5>
          <p>Name: <%= order.username %> </p>
          <p>Number: <%= order.userphone %> </p>
        </div>
      </div>
  
      <div>
        <p>Estimated time (minutes)</p>
        <form action="/admin/orders/estimatedTime" method="POST" id="sendTime">
          <input type="text" name="estimatedTime" placeholder="Enter time">
        </form>
        <a type="submit" id="sendTimeSMS" class="btn btn-dark">Send SMS</a>
      </div>
    </div>
    <% } %>

</div>
