<!-- <h1>Orders</h1>
<% for (let order of orderItems) { %>
  <div class="card" style="width: 18rem;">
    <h3>#<%= order.id %></h3>
    <p><%= order.order_time %></p>
    <div class="card-body">
      <div>
        <h5>Order</h5>
        <p>quanity:  <%= order.name %></p>
        <p></p>
      </div>
      <div>
        <h5>Customer</h5>
        <p>Name: <%= order.username %> </p>
        <p>Number: <%= order.phone_number %> </p>
      </div>
    </div>

    <div>
      <p>Estimated time (minutes)</p>
      <form action="/order" method="POST" id="submitText">
        <input type="text" name="estimatedTime" placeholder="Enter time">
      </form>
      <a type="submit" id="sendSMS" class="btn btn-dark">Send SMS</a>
    </div>
  </div>
  <% } %> -->

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>