<!-- put the below code in the if else condition bleck to check if the cart is empty or not and based
  on that show the content -->

<!-- Show this page if the cart is empty -->
<div class="top-image"></div>
<% if (!session.cart) { %>

  <div class="center-align">
    <div class="empty-cart-container">
      <h2>Your cart is empty</h2>
      <i class="fas fa-cart-arrow-down"></i>
      <p>Looks like you haven't added anything to your cart yet.</p>
      <a href="/" class="btn">Add items</a>
    </div>
  </div>

  <% } else {%>
    <div class="center-align">
  <!-- Show this when there is something in the cart -->
  <section class="cart-container">
    <a href="/" class="arrow-home"><i class="fas fa-arrow-left"></i></a>
    <div class="cart-items-container">
      <h2>Order Summary</h2>
      <% for(let cartItem of Object.values(session.cart.foodItems)) { %>
        <%= console.log(cartItem.photo_url)%>
        <div class="cart-item item">
          <div class="left-cart">
            <p class="item-qty"><%= cartItem.qty %> x</p>
            <img class="cart-img item-img" src=<%= cartItem.item.photo_url %>>
            <p class="cart-item-name"><%= cartItem.item.name %></p>
          </div>
          <p class="item-price-total">$<%= cartItem.item.price * cartItem.qty %>.00</p>
        </div>
      <% } %>
    </div>
    <div class="cart-total-container">
      <p>Cart Total: </p>
      <p>$<%= session.cart.totalPrice %></p>
    </div>

    <% if(user) { %>
      <form action="/orders" method="POST" id="submitOrder"><a type="submit" id="placeOrder" class="btn">Place Order</a></form>
      <% } else { %>
        <a class="btn" href="/login" role="button">Login to place an order</a>
        <% } %> 
      </section>
      <% } %> 
</div>